<h2 class="page-header">Bienvenido a  <%= title %></h2>
<div align='center'>
  <h3 align="left">Reclamos</h3>
  <table class="table table-hover" >
      <tr class="active">

   <tr>
       <td>id</td>
       <td>Tipo Reclamo</td>
       <td>Observacion</td>
       <td>Fecha</td>
    </tr>
<% var i; for(i=0; i< reclamos.length; i++) { %>
   <tr>
       <td><%= i %></td>
       <td><%= reclamos[i].tipoReclamo %></td>
       <td><%= reclamos[i].observacion %></td>
       <td><%= reclamos[i].fecha %></td>
    </tr>
<% } %>
</table>
</tr>
</table>
</div>
